header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.music-title {
  font-size: 20px;
  font-family: "Raleway", Sans-serif;
  font-weight: 400;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-end;
  color: white;
}
.music-title .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@media (hover: hover) and (min-width: 700px) {
  .animated-title .content {
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
  }
}
